<!DOCTYPE html>
<html>
    <head>
        <title>Emotions Training Gym</title>
    </head>
    <body>
        <main>
            <nav>
                <ul>
                    <li><a href="/members">Members</a></li>
                    <br>
                    <li><a href="">Activities</a></li>
                    <br>
                    <li><a href="">Bookings</a></li>
                </ul>
            </nav>
            <section>
                {% block content%}

                {% endblock %}
            </section>
        </main>
    </body>








</html>